[submodule "LBFGSpp"]
	path = extern/LBFGSpp
	url = https://github.com/zero-impact/LBFGSpp.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/tensorflow_cc"]
	path = extern/tensorflow_cc
	url = https://github.com/zero-impact/tensorflow_cc.git
[submodule "extern/GAUSS"]
	path = extern/GAUSS
	url = https://github.com/zero-impact/GAUSS.git
[submodule "extern/libigl"]
	path = extern/libigl
	url = https://github.com/zero-impact/libigl.git
