[submodule "LBFGSpp"]
	path = extern/LBFGSpp
	url = git@github.com:zero-impact/LBFGSpp.git
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json.git
[submodule "extern/tensorflow_cc"]
	path = extern/tensorflow_cc
	url = https://github.com/FloopCZ/tensorflow_cc
[submodule "extern/GAUSS"]
	path = extern/GAUSS
	url = git@github.com:dilevin/GAUSS.git
[submodule "extern/libigl"]
	path = extern/libigl
	url = git@github.com:zero-impact/libigl.git
